{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
  <div class='border-top pt-3'>
    {% if user.is_authenticated %}
      <small><strong>Hello</strong> {{ user.username }}</small>
      <p><a href='{% url 'profile' %}'>View Profile</a></p>
      <p><a href='{% url 'main' %}'>Back to main</a></p>
      <a href='{% url 'logout' %}'>Log out</a>
      <hr>
      <ul>
        {% for key, value in context.items %}
          <li><b>{{ key }}</b>: {{ value }}</li>
        {% endfor %}
      </ul>
      <form method='POST' action='{% url 'answer_vote' %}'>{% csrf_token %}
        <fieldset>
          <legend>Answer your vote</legend>
          <input type="hidden" name="user_id" value="{{ context.user_id }}">
          <input type="hidden" name="question_id" value="{{ context.question_id }}">
          <input type="hidden" name="vote_id" value="{{ context.vote_id }}">
          <input type="hidden" name="vote_type" value="{{ context.vote_type }}">
          {{ form.as_p }}
        </fieldset>
        <button type='submit'>Submit</button>
      </form>
    {% else %} 
      <a href='{% url 'login' %}'>Log In</a>
      <a href='{% url 'register' %}'>Sign Up Now</a>
    {% endif %}
  </div>
{% endblock %}
