{% load staticfiles %}

<!--DOCTYPE html -->
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}<title>viiVote</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <h2>Hello from Base html</h2>
    {% if messages %}
      {% for message in messages %}
        <div class='alert alert-{{ message.tags }}'>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
      <small><strong>Hello</strong> {{ user.username }}</small>
      <p><a href='{% url 'profile' %}'>View Profile</a></p>
      <p><a href='{% url 'main' %}'>Back to main</a></p>
      <p><a href='{% url 'view_all_my_votes' %}'>View all my votes</a></p>
      <p><a href='{% url 'view_all_my_questions' %}'>View all my questions</a></p>
      <p><a href='{% url 'my_bookmarks' %}'>My Bookmarks</a></p>
      <a href='{% url 'logout' %}'>Log out</a>
      <hr>
    {% else %} 
      <a href='{% url 'login' %}'>Log In</a>
      <a href='{% url 'register' %}'>Sign Up Now</a>
    {% endif %}

    {% block content %}
    {% endblock %}
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
