{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
  <div class='content-section'>
    {% if user.is_authenticated %}
      <ul>
        {% for key, value in context.items %}
          <li><b>{{ key }}</b>: {{ value }}</li>
        {% endfor %}
      </ul>
      <form method='POST' action='{% url 'edit' %}'>{% csrf_token %}
        <fieldset>
          <legend>Edit your answer</legend>
          <input type="hidden" name="answer_id" value="{{ context.id }}">
          {{ edit.as_p }}
        </fieldset>
        <button type='submit'>Update</button>
      </form>
    {% endif %}
  </div>
{% endblock %}
